<!DOCTYPE html>
<html lang="fi">

<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
<script src="styles.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kuvagalleria</title>
</head>

<body>
    <h1>Kuvagalleria</h1>
    <div>
        <a href="/">Takaisin etusivulle</a>
    </div>
    <div id="gallery"></div>

    <script>
    // Koko dokumentti on ladattu ennen koodin suorittamista
    document.addEventListener('DOMContentLoaded', () => {
    
    // Galleria-elementti html:stä
    const gallery = document.getElementById('gallery');
    
    // Kaikki tallennetut palapelit
    const completedPuzzles = JSON.parse(localStorage.getItem('completedPuzzles')) || [];
    completedPuzzles.forEach((puzzle) => {
        
        const listItem = document.createElement('li');

        // Uusi kuvaelementti
        const image = document.createElement('img');
        image.src = puzzle.imageUrl;
        image.alt = "Palapeli"; 

        const queryText = document.createElement('p');
        queryText.textContent = `Hakusana: ${puzzle.searchQuery}`;

        const timeInfo = document.createElement('p');
        timeInfo.textContent = `Aika: ${puzzle.timeSpent} sekuntia`; 

        // Kuva, hakusana ja aika listaelementtiin
        listItem.appendChild(image);
        listItem.appendChild(queryText);
        listItem.appendChild(timeInfo);

        gallery.appendChild(listItem);
    });
});


</script>
</body>
</html>

