<!DOCTYPE html>
<html lang="fi">

<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
<script src="styles.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kuvagalleria</title>
</head>

<body>
    <h1>Kuvagalleria</h1>
    <div>
        <a href="/">Takaisin etusivulle</a>
    </div>
    <div id="gallery"></div>

    <script>
    // Koko dokumentti on ladattu ennen koodin suorittamista
    document.addEventListener('DOMContentLoaded', () => {
    
        // Galleria-elementti html:stä
        const gallery = document.getElementById('gallery');
    
        // Kaikki tallennetut palapelit
        let completedPuzzles = JSON.parse(localStorage.getItem('completedPuzzles')) || [];
        
        // Gallerian päivitys
        const updateGallery = () => {
            gallery.innerHTML = ""; 
            
            completedPuzzles.forEach((puzzle, index) => {
                const listItem = document.createElement('li');

                // Uusi kuvaelementti
                const image = document.createElement('img');
                image.src = puzzle.imageUrl;
                image.alt = "Palapeli"; 

                const queryText = document.createElement('p');
                queryText.textContent = `Hakusana: ${puzzle.searchQuery}`;

                const timeInfo = document.createElement('p');
                timeInfo.textContent = `Aika: ${puzzle.timeSpent} sekuntia`; 

                // Poistaminen
                const deleteButton = document.createElement('button');
                deleteButton.textContent = "Poista";
                deleteButton.style.marginTop = "10px";
                deleteButton.addEventListener('click', () => {
                    // Kuvan poistaminen listasta ja localStoragen päivitys
                    completedPuzzles.splice(index, 1);
                    localStorage.setItem('completedPuzzles', JSON.stringify(completedPuzzles));
                    updateGallery(); 
                });

                // Kuva, hakusana, aika ja Poista-nappi listaelementtiin
                listItem.appendChild(image);
                listItem.appendChild(queryText);
                listItem.appendChild(timeInfo);
                listItem.appendChild(deleteButton);

                gallery.appendChild(listItem);
            });
        };

        updateGallery();
    });
    </script>
</body>
</html>

