<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palapeli</title>
</head>

<script src="https://flbulgarelli.github.io/headbreaker/js/headbreaker.js"></script>

<body>

    <h1>Palapeli</h1>
    <div id="searchSection">
        <input type="text" id="searchQuery" placeholder="Anna hakusana" />
        <button onclick="searchImage()">Hae kuva</button>
    </div>

    <div id="autogen-canvas">
    </div>

    <script>
        let img = new Image();

        async function searchImage() {
            const query = document.getElementById('searchQuery').value.trim();
            if (query === '') {
                alert('Syötä hakusana');
                return;
            }

            try {
                const response = await fetch(`/searchImage?query=${encodeURIComponent(query)}`);
                const data = await response.json();

                if (data.imageUrl) {
                    img.onload = () => {
                        const autogen = new headbreaker.Canvas('autogen-canvas', {
                            width: 800, height: 650,
                            pieceSize: 100, proximity: 20,
                            borderFill: 10, strokeWidth: 1.5,
                            lineSoftness: 0.18, image: img,
                        });

                        autogen.adjustImagesToPuzzleHeight();
                        autogen.autogenerate({
                            horizontalPiecesCount: 6,
                            verticalPiecesCount: 5
                        });
                        autogen.draw();
                    }
                } else {
                    alert(data.error || 'Kuvaa ei löytynyt!');
                }
            } catch (error) {
                console.error('Virhe haettaessa kuvia:', error);
                alert('Virhe haettaessa kuvia.');
            }
        }
    </script>
</body>

</html>