<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palapeli</title>
</head>

<script src="https://flbulgarelli.github.io/headbreaker/js/headbreaker.js"></script>

<body>

    <h1>Palapeli</h1>
    <div id="searchSection">
        <input type="text" id="searchQuery" placeholder="Anna hakusana" />
        <button onclick="searchImage()">Hae kuva</button>
    </div>

    <div id="my-canvas">
    </div>

    <script>
        let img = new Image();

        async function searchImage() {
            const query = document.getElementById('searchQuery').value.trim();
            if (query === '') {
                alert('Syötä hakusana');
                return;
            }

            try {
                const response = await fetch(`/searchImage?query=${encodeURIComponent(query)}`);
                const data = await response.json();

                if (data.imageUrl) {
                    img.src = data.imageUrl;
                    img.onload = () => {
                        const canvas = new headbreaker.Canvas('my-canvas', {
                            width: 800, height: 800, image: img
                        });
                        canvas.autogenerate();
                        canvas.shuffle(0.7);
                        canvas.draw();
                    }
                } else {
                    alert(data.error || 'Kuvaa ei löytynyt!');
                }
            } catch (error) {
                console.error('Virhe haettaessa kuvia:', error);
                alert('Virhe haettaessa kuvia.');
            }
        }
    </script>
</body>

</html>